**/.DS_Store
**/*.pdf
**/*.html
**/*.md
**/*.aux
**/*.log
!.git/**/*.log
**/*.out
**/*.fls
**/*.fdb_latexmk
**/*.synctex.gz
**/*.synctex(busy)
**/*.asv

.env/
**/.ipynb_checkpoints/
**/.vscode/
**/.obsidian/
